
<!--
<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Strict//EN” "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd“>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> -->

<html>

<head>
<title>БАРАХОЛКА Візьму-віддам</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" >
</head>

<body>
<div id="page_wrap">

{% block header %}
	<div id="header">
		<a href="/" class="float"><img src="{% static "media/images/logo.jpg" %}" alt="" width="171" height="73" /></a>

	<!--  <div class="topblock1">
			Currency:<br /><select><option>US Dollar</option></select>
		</div>
	    <div class="topblock2">
			Lanquage:<br />
		    <a href="#"><img src="/media/images/flag1.gif" %}" alt="" width="19" height="11" /></a>
		    <a href="#"><img src="{% static "media/images/flag2.gif" %}" alt="" width="19" height="11" /></a>
		    <a href="#"><img src="{% static "media/images/flag3.gif" %}" alt="" width="19" height="11" /></a>
		    <a href="#"><img src="{% static "media/images/flag4.gif" %}" alt="" width="19" height="11" /></a>
		    <a href="#"><img src="{% static "media/images/flag5.gif" %}" alt="" width="19" height="11" /></a>
		    <a href="#"><img src="{% static "media/images/flag6.gif" %}" alt="" width="19" height="11" /></a>
		</div>                      -->
		<div class="topblock2">
			<img src="{% static "media/images/shopping.gif" %}" alt="" width="24" height="24" class="shopping" />
		 	<p>Shopping cart</p> <p><strong>0</strong> <span>items</span></p>
		</div>
		<ul id="menu">
			<li><img src="{% static "media/images/li.gif" %}" alt="" width="19" height="29" /></li>
			<li><a href="index.html"><img src="{% static "media/images/but1_a.gif" %}" alt="" width="90" height="29" /></a></li>
			<li><a href="index2.html"><img src="{% static "media/images/but2.gif" %}" alt="" width="129" height="29" /></a></li>
			<li><a href="index2.html"><img src="{% static "media/images/but3.gif" %}" alt="" width="127" height="29" /></a></li>
			<li><a href="index2.html"><img src="{% static "media/images/but4.gif" %}" alt="" width="113" height="29" /></a></li>
			<li><a href="index2.html"><img src="{% static "media/images/but5.gif" %}" alt="" width="132" height="29" /></a></li>
			<li><a href="index2.html"><img src="{% static "media/images/but6.gif" %}" alt="" width="105" height="29" /></a></li>
			<li><a href="index2.html"><img src="{% static "media/images/but7.gif" %}" alt="" width="82" height="29" /></a></li>
			<li><a href="index2.html"><img src="{% static "media/images/but8.gif" %}" alt="" width="112" height="29" /></a></li>
			<li><a href="index2.html"><img src="{% static "media/images/but9.gif" %}" alt="" width="71" height="29" /></a></li>
		</ul>
	</div>
    <br />
    <div>
        {% if messages %}
            <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

	<div id="container">

    {% block center %}
	  <div id="center" class="column">
	  	<a href="#" class="banner"><img src="{% static "media/images/bigbanner.jpg" %}" alt="" width="572" height="236" /></a><br />



          <div id="content">
			<img src="{% static "media/images/title2.gif" %}" alt="" width="540" height="29" /><br />
			<p>Dolor sit amet, consetetur sadipscing elitr, seddiam nonumy eirmod tempor. invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur <br /></p>
			<img src="{% static "media/images/title3.gif" %}" alt="" width="540" height="26" class="pad25" />
			<div class="stuff">
                   {% for tovar in tovar_list %}
                     <div class="item">
                        <div style="float: left">
                        <span><a class ="name" href="/view/{{ tovar.id }}">{{ tovar.name }}</a></span>
                        <span ><img src ="{% static "media/"%}{{ tovar.pictures_set.all|first }}" width="120"></span>
                        <span>{{ tovar.price }} грн.</span>

                        </div>
                        <br />

                        <div style="float: left; width: 100%">
                            <form action="" method="post" name="BET">
                        {% csrf_token %}
                                {% if tovar.id in tovar_bets %}
                                    <h3><span style="color: mediumseagreen">Заброньовано</span></h3>
                                {% else %}
                               <span><input type="submit" value="БРОНЬ" name="BET"></span>
                                {% endif %}
                            <input type="hidden" name="tovar_id" value="{{ tovar.id }}">
                        </form>


                        </div>
                        <div style="color:seagreen"><p>Всього броней: {{ tovar.bets_set.all.count }}</p></div>
                         </div>


               {% endfor %}


                <div class="item">
					<img src="{% static "media/images/pic1.jpg" %}" alt="" width="124" height="90" />
					<a href="index2.html" class="name">Name Product</a>
					<span>$250</span>
					<a href="#"><img src="{% static "media/images/zoom.gif" %}" alt="" width="53" height="19" /></a><a href="#"><img src="{% static "media/images/cart.gif" %}" alt="" width="71" height="19" /></a>
				</div>
				<div class="item">
					<img src="{% static "media/images/pic2.jpg" %}" alt="" width="124" height="111" />
					<a href="index2.html" class="name">Name Product</a>
					<span>$850</span>
					<a href="#"><img src="{% static "media/images/zoom.gif" %}" alt="" width="53" height="19" /></a><a href="#"><img src="{% static "media/images/cart.gif" %}" alt="" width="71" height="19" /></a>
				</div>
				<div class="item">
					<img src="{% static "media/images/pic3.jpg" %}" alt="" width="124" height="89" />
					<a href="index2.html" class="name">Name Product</a>
					<span>$400</span>
					<a href="#"><img src="{% static "media/images/zoom.gif" %}" alt="" width="53" height="19" /></a><a href="#"><img src="{% static "media/images/cart.gif" %}" alt="" width="71" height="19" /></a>
				</div>
				<div class="item">
					<img src="{% static "media/images/pic4.jpg" %}" alt="" width="124" height="89" />
					<a href="index2.html" class="name">Name Product</a>
					<span>$350</span>
					<a href="#"><img src="{% static "media/images/zoom.gif" %}" alt="" width="53" height="19" /></a><a href="#"><img src="{% static "media/images/cart.gif" %}" alt="" width="71" height="19" /></a>
				</div>
				<div class="item">
					<img src="{% static "media/images/pic5.jpg" %}" alt="" width="124" height="97" />
					<a href="index2.html" class="name">Name Product</a>
					<span>$250</span>
					<a href="#"><img src="{% static "media/images/zoom.gif" %}" alt="" width="53" height="19" /></a><a href="#"><img src="{% static "media/images/cart.gif" %}" alt="" width="71" height="19" /></a>
				</div>
				<div class="item">
					<img src="{% static "media/images/pic6.jpg" %}" alt="" width="124" height="111" />
					<a href="index2.html" class="name">Name Product</a>
					<span>$2250</span>
					<a href="#"><img src="{% static "media/images/zoom.gif" %}" alt="" width="53" height="19" /></a><a href="#"><img src="{% static "media/images/cart.gif" %}" alt="" width="71" height="19" /></a>
				</div>
			</div>
		</div>
	  </div>
    {% endblock %}
    {% block leftcolumn %}
	  <div id="left" class="column">
	  	<div class="block">
		<img src="{% static "media/images/title1.gif" %}" alt="" width="168" height="42" /><br />

			<ul id="navigation">
			{% for cat in cat_list %}
			    <li class="color"><a href="/category={{ cat.id }}"> {{ cat.cat_name }}</a></li>
			{% endfor %}


			</ul>
		</div>
		<a href="#"><img src="{% static "media/images/banner1.jpg" %}" alt="" width="172" height="200" /></a>
	  </div>
    {% endblock %}
    {% block rightcolumn %}
	  <div id="right" class="column">
	  	<a href="#"><img src="{% static "media/images/banner2.jpg" %}" alt="" width="237" height="216" /></a><br />
		<div class="rightblock">
			<img src="{% static "media/images/title4.gif" %}" alt="" width="223" height="29" /><br />

            {% if user.is_authenticated %}
                <div class="blocks">
                    <img src="{% static "media/images/top_bg.gif" %}" alt="" width="218" height="12" />
                          <h2>{{ user }}</h2><br />
                        <h4><p style="color: #003653; text-align: right ;"><a href="/logout">Вихід</a></p></h4>
                    <img src="{% static "media/images/bot_bg.gif" %}" alt="" width="218" height="10" /><br />
                </div>

            {% else %}
            <div class="blocks">
				<img src="{% static "media/images/top_bg.gif" %}" alt="" width="218" height="12" />



                <form action="" method="post" name="login">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="/" >
					<p class="line"><span>Login:</span> <input type="text" name="username" id="username"/></p>
					<p class="line"><span>Password:</span> <input type="password" name="password" id="password" /></p>
					<p class="line center"><a href="/registration/" class="reg">Registration</a> | <a href="#" class="reg">Forgot password?</a></p>
					<p class="line center pad20"><input type="SUBMIT" name="RR" value="Send" alt="" width="69" height="25" /></p>

                    <h4><p style="color:red">{{ err }}</p></h4>


				</form>

				<img src="{% static "media/images/bot_bg.gif" %}" alt="" width="218" height="10" /><br />
			</div>
            {% endif %}
       
			<div class="blocks">
				<img src="{% static "media/images/top_bg.gif" %}" alt="" width="218" height="12" />
				<div id="news">
					<img src="{% static "media/images/title5.gif" %}" alt="" width="201" height="28" />
					<span class="date">23 november</span>
					<p>Dolor sit amet, consetetur sadipscing elitr, seddiam nonumy eirmod tempor. invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
					<a href="#" class="more">read more</a>
				</div>
				<img src="{% static "media/images/bot_bg.gif" %}" alt="" width="218" height="10" /><br />
			</div>
		</div>
	  </div>
    {% endblock %}
	</div>
	{% block footer %}
	<div id="footer">




		<a href="index.html">Home</a>  |
		<a href="index2.html">New Products</a>  |
		<a href="index2.html">Special Offers</a>  |
		<a href="index2.html">My Account</a>  |
		<a href="index2.html">Shopping Chart</a>  |
		<a href="index2.html">Locations</a>  |
		<a href="index2.html">FAQ</a>  |
		<a href="index2.html">Contact Us</a>  |
		<a href="index2.html" class="terms">Privacy Policy</a>  |
		<a href="index2.html" class="terms">Terms of Use</a>


	</div>
{% endblock %}

</div>
