{% extends 'main.html' %}

{% load staticfiles %}
    {% block center %}
	  <div id="center" class="column">
          <h1>{{ tovar.name }}</h1>

	  	<div id="content">
			<h3>Опис товару</h3>
			<p>{{ tovar.description }} <br /></p>

            {% for picture in tovar.pictures_set.all %}
            <span style="padding: 10px"><img src ="{% static "media/"%}{{ picture }}" width="180"></span>

        {% endfor %}

            <p><div style="float: left; width: 100%; margin-bottom: 10px;">
                            <form action="" method="post" name="BET">
                        {% csrf_token %}
                                {% if tovar.id in tovar_bets %}
                                    <h3><span style="color: mediumseagreen">Заброньовано</span></h3>
                                    <br />
                                    <span><input type="submit" value="Зняти бронь" name="BET_DEL"></span>
                                {% else %}
                               <input type="submit" value="БРОНЬ" name="BET">
                                {% endif %}

                        </form>
                        </div>
                 </p>

            <div style="color:seagreen; margin-top: 20px">Всього броней: {{ tovar.bets_set.all.count }}</div>
            <div class="stuff">
		    	<img src="{% static "media/images/title3.gif"%}" alt="" width="540" height="26" class="pad25" />
		    	<span>{{ tovar.price }}</span>
        	</div>

		</div>

	  </div>
    {% endblock %}



